@import "tailwindcss";

@font-face {
  font-family: "Quintessa300";
  src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: "Quintessa500";
  src: url(/fonts/Lausanne-500.woff2);
}

* {
  box-sizing: border-box;
}

body,
html {
  
  /* background: #000; */
  /* font-family: monospace; */

}

::selection{
  background:#D3FD50;
  color:#000;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  transform: translateY(-100%);
  opacity: 0;
}

.moveX {
  display: inline-flex;
  animation: moveAnimation 5s linear infinite;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* shift exactly one "set" width */
  }
}

